@model IEnumerable<SistemaAgendaCitas.Models.Entities.Servicio>

@{
    ViewData["Title"] = "Servicios";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}


<p>
    <a asp-action="Create"class="btn btn-sm btn-primary">Nuevo Servicio</a>
</p>
<h1>Lista de Servicios</h1>

<div class="mb-3">
    <a asp-action="Index" asp-route-estado="" class="btn btn-sm btn-outline-primary">Todos</a> |
    <a asp-action="Index" asp-route-estado="activos" class="btn btn-sm btn-outline-success">Activos</a> |
    <a asp-action="Index" asp-route-estado="inactivos" class="btn btn-sm btn-outline-dark">Inactivos</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
           
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
           
        </tr>
}
    </tbody>
</table>
